footer{
    background-color: brown;
    text-align: center;
    width: 98.5%;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 10px;
    color: white;
    position: fixed;
    bottom: 10px;
}
footer table{
    margin: auto;
}
footer td{
    border: none;
}
table img{
    margin-left: 10px;
    border-radius: 5px;
}

.tecnologia button{
    background: transparent;
    border: none;
    margin-left: -10px;
}
.tecnologia button:hover{
    cursor: pointer;
}
form{
    text-align: center;
}

.link{
    color: white;
}